h1, h2, h3, p, a{
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}
h1, h2, h3{
    width: 100%;
    text-align: center;
}
p{text-align: justify;}
#whatsApp:hover{
    border-bottom:2px solid green;
    border-radius: 20pt;
    transition: 1s;
}
#whatsApp{transition: 1s;border-bottom: none;}